{{ 'hero.css' | asset_url | stylesheet_tag }}
<section class="hero-sec v4 bg-gray-light">
  <div class="container">
    <div class="row g-5">
      <div class="col-xl-6 d-xl-block d-none">
        {% if section.settings.hero_image %}
          <img
            src="{{ section.settings.hero_image | asset_url }}"
            class="hero-img img-fluid w-100 d-block mx-auto"
            style="max-width: 614px;"
            width="614"
            height="321"
            alt="{{ section.settings.hero_heading }}"
          >
        {% endif %}
      </div>
      <div class="col-xl-6">
        <div class="content-wrapper">
          {% if section.settings.hero_heading %}
            <h1>{{ section.settings.hero_heading }}</h1>
          {% endif %}
          {% if section.settings.hero_text %}
            <p class="fw-semibold fs-20 mb-0">{{ section.settings.hero_text }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Hero Section V4",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "hero_heading",
      "label": "Heading",
      "default": "Pre-Order This Week’s Batch"
    },
    {
      "type": "richtext",
      "id": "hero_text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Hero Section V4",
      "category": "Hero"
    }
  ]
}
{% endschema %}
